{% block title %}Hello !{% endblock %}

{% block body %}

{% for data in datas %}
  <div> 
  <br>
        {{ data.eventId }}
        <br><br>
        {{ data.title }}
        <br><br>
        {{ data.description }}
        <br><br>
        {{ data.location_coordinates.long }}
        <br><br>
        {{ data.location_coordinates.lat }}
        <br><br>
        {{ data.address }}
        <br><br>
        <img src = "{{ data.image_url }}"></img>
        <br><br>
        {{ data.orga }}
        <br><br>
        {{ data.longdescription }}
        <br><br>
        {{ data.orga }}
        <br><br>
        {{ data.date }}
        <br><br>
        {{ data.start }}
        <br><br>
        {{ data.end }}

  </div>
{% endfor %}

</div>
{% endblock %}
